.vertical-layout .p-organizationchart .p-organizationchart-node-content {
    display: flex;
    flex-direction: column;
  }
  
  .horizontal-layout .p-organizationchart .p-organizationchart-node-content {
    display: flex;
    flex-direction: row;
  }
  