.timeseries-status:hover .line-total-sum {
  display: none;
}

.timeseries-status:hover .status-sum {
  display: block;
}

.sidebar-item {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
}

.sidebar-item-label {
  visibility: hidden;
  opacity: 0;
  transition: opacity 300ms ease-in-out 200ms, visibility 0ms linear 200ms;
  text-align: start;
  display: none;
}

.sidebar-container:hover .sidebar-item {
  justify-content: flex-start;
}

.sidebar-container:hover .sidebar-item-label {
  visibility: visible;
  opacity: 1;
  transition: opacity 300ms ease-in-out, visibility 0ms linear;
  display: block;
}
.dashboard-container {
  height: 100%;
  overflow-y: hidden;
}
/* Table Headers Alignment */
.p-datatable .p-column-header-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-datatable.p-datatable .p-datatable-tbody>tr>td{
 text-align: center;
}