.timeseries-status:hover .line-total-sum {
  display: none;
}

.timeseries-status:hover .status-sum {
  display: block;
}

.sidebar-item {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
}

.sidebar-item-label {
  visibility: hidden;
  opacity: 0;
  transition: opacity 300ms ease-in-out 200ms, visibility 0ms linear 200ms;
  text-align: start;
  display: none;
}

.sidebar-container:hover .sidebar-item {
  justify-content: flex-start;
}

.sidebar-container:hover .sidebar-item-label {
  visibility: visible;
  opacity: 1;
  transition: opacity 300ms ease-in-out, visibility 0ms linear;
  display: block;
}
.dashboard-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.dashboard-container .flex-1 {
  flex-shrink: 1;
  min-width: 0;
}

.shadow-lg {
  min-width: 0;
}

.flex {
  min-width: 0;
}

