@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

.test {
  border: 1px solid red;
}

.test-2 {
  border: 3px solid blue;
}

.custom-icon-size .pi {
  font-size: 1.2rem; 
}

.p-submenu-list {
  z-index: 9999 !important;
}


